body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
}
.columncontact {
    margin-top: 135px;
}

.category-contact-1 {
    height: 102px;
    background-image: url('../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 20px;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.category-contact_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1244px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.category-contact_title-4 {
    letter-spacing: 3.84px;
    font-size: 48px;
    font-weight: 400;
    background: linear-gradient(90deg, #f9d447,#f3e5e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    display: block;
    margin-left: -80px;
    /* background-clip: text; */
    @media only screen and (max-width: 1050px) 
    {font-size: 44px;}

    @media only screen and (max-width: 550px)
    {font-size: 38px;}
}

.category-contact_row {
    height: 468px;
    background-image: url(../images/contact_hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 56px;
    @media only screen and (max-width: 1050px) {
        height: auto;
        padding: 20px;
    }
}

.category-contact_breadcrumb {
    color: var(--white_a700) !important;
    margin-top: 20px;
    letter-spacing: 1.92px;
    font-size: 24px;
    font-weight: 300;
    position: relative;
    left:100px;
    
    @media only screen and (max-width: 1050px) {
        font-size: 22px;
    }
}

.container {
    max-width: 600px;
    max-height: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 20px;
    margin-top: 60px;
}

.head-name-company h2{
    font-size: 30px;
    color: orange;
    font-weight: 500;
    margin-top: 50px;
    margin-left:465px;
}

.head-name-company h3{
    font-size: 20px;
    color: grey;
    font-weight: 550;
    margin-top: 0px;
    margin-left:465px;
}

.map-box-main{
    
    width: 40%;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    top: 500px;
    bottom: 50px;
    position: relative;
    top: 50px;
    margin-bottom: 150px;
}
.info-box {
    width: 100%;
    height: 60%;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.info-box h2 {
    margin-bottom: 10px;
    color: orange;
    font-size: 30px;
    font-weight: 500;
}

.info-box strong {
    margin-bottom: 10px;
    color: rgb(15, 15, 56);
}
.info-box p {
    margin: 10px 0;
    font-size: 16px;
    color: rgb(56, 56, 116);
}
.map-box {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    margin: auto;
}
iframe {
    width: 100%;
    height: 100%;
    border: none;
}