.slide-container
{
    position:relative;
    top:-1400px;
}

.flav-slide-background {
    position: relative;
    height: 100vh;
    background: url('../images/home_page_images/back-slider.jpg') no-repeat center center/cover;
    /* opacity:0.6; */
    /* height: 100%; */
  }
  
  /* Slider Container */
  .flav-slider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1200px;
    /* height: 500px; */
    overflow: hidden;
    border-radius: 27px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .flav_slides {
    display: flex;
    transition: transform 0.6s ease-in-out;
  }

  .slide-img {
    width: 100%;
    position: relative;
    opacity: 1;
  }

  .slide-img img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 1;
  }

