@font-face
{
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/InterRegular.ttf");
    font-family: "Inter";
    font-weight: 400;
}


@font-face
{
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/CorbelBold.ttf");
    font-family: "Corbel";
    font-weight: 700;
}


@font-face
{
        font-display: swap;
    font-style: normal;
    src: url("../public/fonts/CorbelLight.ttf");
    font-family: "Corbel";
    font-weight: 300;
}
@font-face
{
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/corbel.ttf");
    font-family: "Corbel";
    font-weight: 400;
}