body
{
    margin: 0;
    padding: 0;
    font-family: Corbel;
    /* overflow: hidden; */
}


*
{
    box-sizing: border-box;
    line-height: normal;
    font-family: inherit;
    margin: unset;
}


input
{
    background-color: transparent;
    width: 100%;
    border: 1px solid black;
    height: 32px;
    padding:8px;
    font-size: 16px;
    
   
}


.registration-form_input--company input {
    background-color: transparent;
    padding: 8px;
    border: none;
}

img 
{
    max-width: 100%;
    height: auto;
}

[type="text"],
input:where(:not([type])),
[type="email"]
[multiple],
textarea,
select,
button
{
    appearance: none;
    background-color: transparent;
    border-color: unset;
    border-width: 0;
    border-radius: unset;
    padding: unset;
    font-size: unset;
    line-height: unset;
    color: inherit;
}

input:focus-visible,
[multiple]:focus-visible,
textarea:focus-visible,
select:focus-visible
{outline: none;}