@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/CuprumRegular.ttf");
    font-family: "Cuprum";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/Corbel.ttf");
    font-family: "Corbel";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/CorbelBold.ttf");
    font-family: "Corbel";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/CorbelLight.ttf");
    font-family: "Corbel";
    font-weight: 300;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/CorbelBoldItalic.ttf");
    font-family: "Corbel";
    font-weight: 700;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/InterRegular.ttf");
    font-family: "Inter";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/ConvergenceRegular.ttf");
    font-family: "Convergence";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/FigmaHandRegular.ttf");
    font-family: "Figma Hand";
    font-weight: 400;
}

@font-face {
    font-display: swap;
    font-style: normal;
    src: url("../public/fonts/CorbelLightItalic.ttf");
    font-family: "Corbel";
    font-weight: 300;
}
