.category-color
{
    background-color: var(--white_a700);
    width: 100%;
}

.columncolors {
    margin-top: 135px;
}

.category-color_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1244px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    gap: 20px;
}

.category-color_title-4 {
    letter-spacing: 3.84px;
    font-size: 48px;
    font-weight: 400;
    background: linear-gradient(90deg, #f9d447,#f3e5e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left;
    display: block;
    margin-left: -80px;
    /* background-clip: text; */
    @media only screen and (max-width: 1050px) 
    {font-size: 44px;}

    @media only screen and (max-width: 550px)
    {font-size: 38px;}
}

.category-color_breadcrumb {
    color: var(--white_a700) !important;
    margin-top: 12px;
    letter-spacing: 1.92px;
    font-size: 20px;
    font-weight: 300;
    position: relative;
    left:50px;
    @media only screen and (max-width: 1050px) {
        font-size: 22px;
    }
}

.columndescripti {
    margin-top: 116px;
    padding-left: 36px;
    padding-right: 36px;
    gap: var(--space-xs);
    display: flex;
    flex-direction: column;
    align-items: center;
    @media only screen and (max-width: 550px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.category-color_column {
    
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1210px;
    width: 100%;
   position:relative;
   left:15px;
}

.category-color_title-2 {
    color: var(--yellow_900) !important;
    letter-spacing: 3.04px;
    font-size: 48px;
    font-weight: 700;
    @media only screen and (max-width: 1050px) {
        font-size: 44px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 38px;
    }
}

.category-color_separator {
    height: 0.5px;
    background-color: var(--black_900);
    align-self: stretch;
    width:1400px;
}

.category-color_description {
    color: var(--black_900) !important;
    letter-spacing: 1.92px;
    text-align: justify;
    font-size: 20px;
    font-weight: 400;
    width: 98%;
    line-height: 28px;
    @media only screen and (max-width: 1050px) {
        width: 100%;
        font-size: 22px;
    }
}

.columnyour {
    margin-top: 80px;
    padding-left: 46px;
    padding-right: 46px;
    gap: 68px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media only screen and (max-width: 1050px) {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media only screen and (max-width: 550px) {
        gap: 34px;
    }
}

.category-color_products {
    color: var(--lime_900) !important;
    letter-spacing: 3.2px;
    font-size: 40px;
    font-weight: 700;
    @media only screen and (max-width: 1050px) {
        font-size: 38px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 36px;
    }
}

.category-color-2 {
    margin-left: auto;
    margin-right: auto;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1098px;
    width: 100%;
}

.category-color_column-1 {
    gap: 76px;
    display: flex;
    width: 100%;
    

    @media only screen and (max-width: 1050px) {
        gap: 57px;
    }
    @media only screen and (max-width: 550px) {
        gap: 38px;
    }
}

.category-color_row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.category-color_stack {
    height: 354px;
    position: relative;
    flex: 1;
    @media only screen and (max-width: 1050px) {
        align-self: stretch;
        width: 100%;
        height: auto;
    }
}


.category-color_image--cosmetics {
    height: 212px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--radius-sm);
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.category-color_row-main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
    @media only screen and (max-width: 1050px) {
        flex-direction: column;
    }
}

.category-color_column--cosmetics {
    gap: var(--space-xs);
    background-color: var(--gray_100);
    box-shadow: var(--shadow-xs);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
    border-radius: var(--radius-sm);
    width: 45%;
    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
    @media only screen and (max-width: 550px) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}



.category-color_title--cosmetics {
    color: var(--yellow_900) !important;
    margin-top: 6px;
    margin-left: 10px;
    letter-spacing: 1.88px;
    font-size: 30px;
    font-weight: 700;
    @media only screen and (max-width: 1050px) {
        font-size: 34px;
        margin-left: 0px;
    }
    @media only screen and (max-width: 550px) {
        font-size: 32px;
    }
}


/*----------------------------------------------
2. Page CSS
----------------------------------------------*/
.category-color-1 {
    height: 102px;
    background-image: url('../../images/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    padding: 20px;
    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.category-color_row {
    height: 468px;
    background-image: url(../../images/color_page/color-main-hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 120px 56px;
    @media only screen and (max-width: 1050px) {
        height: auto;
        padding: 20px;
    }
}
